.fs-title {
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: rgb(180, 172, 172);
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

.txtBox {
  width: 180px;
  margin-bottom: -20px;
}

mat-error {
  text-align: right;
}

.checkBox {
  margin-top: 5px;
  margin-bottom: -25px;
  padding-bottom: -25px;
}

div {
  padding-top: 20px;
  height: auto;
  width: 300px;
  margin: auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.span {
  margin-top: 50px;
}

.inputDiv {
  margin-top: -40px;
}

.request-themes {
  margin-top: -20px;
}

.tabGap {
  height: 500px;
  margin-top: -45px;
}
