<div class="tabGap">
  <h3 class="fs-title">Add Product</h3>
  <h3 class="fs-subtitle">Enter details to add a product</h3>
  <form [formGroup]="postProduct" (ngSubmit)="onSubmit()">
    <div class="inputDiv">
      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Brand</mat-label>
        <input matInput formControlName="brand" maxlength="20" type="text" placeholder="Brand" required />
        <mat-hint align="end">{{ validateField("brand").value.length }} / 20</mat-hint>
        <mat-error *ngIf="validateField('brand').invalid">{{ getErrorMessage("brand") }}</mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Flavour</mat-label>
        <input matInput type="text" formControlName="flavour" maxlength="40" placeholder="Flavour" required />
        <mat-hint align="end">{{ validateField("flavour").value.length }} / 40</mat-hint>
        <mat-error *ngIf="validateField('flavour').invalid">{{ getErrorMessage("flavour") }}</mat-error>
      </mat-form-field>

      <div class="checkBox">
        <label matInput for="alcoholic">Alcoholic</label>
        <mat-checkbox formControlName="alcoholic"></mat-checkbox>
      </div>

      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Container Type</mat-label>
        <input matInput type="text" formControlName="containerType" maxlength="20" placeholder="Container Type" [matAutocomplete]="auto" required />
        <mat-hint align="end">{{ validateField("containerType").value.length }} / 20</mat-hint>
        <mat-error *ngIf="validateField('containerType').invalid">{{ getErrorMessage("containerType") }}</mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="checkBox">
        <label for="returnable">Returnable</label>
        <mat-checkbox formControlName="returnable"></mat-checkbox><br />
      </div>

      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Sell Price</mat-label>
        <input matInput type="number" formControlName="sellPrice" placeholder="Sell Price" required />
        <span matPrefix>£&nbsp;</span>
        <mat-error *ngIf="validateField('sellPrice').invalid">{{ getErrorMessage("sellPrice") }}</mat-error>
      </mat-form-field>

      <div class="checkBox">
        <label for="showDiscBox">Discount</label>
        <mat-checkbox name="showDiscBox" (change)="onShowDiscount($event)"></mat-checkbox><br />
      </div>

      <mat-form-field *ngIf="showDiscountBox" class="txtBox" appearance="standard">
        <mat-label>Discount</mat-label>
        <input matInput type="number" formControlName="discount" [value]="discountBox" (change)="roundMethod($event)" placeholder="Discount" />
        <span matSuffix>%&nbsp;</span>
        <mat-error *ngIf="validateField('discount').invalid">{{ getErrorMessage("discount") }}</mat-error>
      </mat-form-field>
    </div>

    <div class="request-themes">
      <button mat-raised-button color="primary"><mat-icon class="buttonIcon">add</mat-icon>Add Product</button>
    </div>
  </form>
</div>
