div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.searchBox{
    margin-top: 10px;
    width: 85%;
}

.searchIcon{
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.mat-elevation-z20{
    text-align: center;
    width: 800px;
}