<div class="mat-elevation-z24">
  <h2 class="fs-title">Log In</h2>
  <h3 class="fs-subtitle">Enter your user details</h3>
  <form class="LogInForm" [formGroup]="verifyUser" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" />
      <mat-error *ngIf="validateField('username').invalid">{{ getErrorMessage("username") }}</mat-error>
    </mat-form-field>

    <br />
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="validateField('password').invalid">{{ getErrorMessage("password") }}</mat-error>
    </mat-form-field>

    <br />
    <button mat-raised-button type="submit" color="warm" class="submitBtn">LogIn</button>
  </form>
  <br />
</div>
