.mat-elevation-z24 {
  width: 400px;
  text-align: center;
  margin: 200px auto;
}

button {
  margin-top: 20px;
  width: 90px;
}

h2 {
  padding-top: 10px;
}

@media (max-width: 785px) {
  .mat-elevation-z24 {
    width: 300px;
    text-align: center;
    margin: 100px auto;
    margin-bottom: auto;
  }
}
