.txtBox{
    width: 180px;
}

label{
    margin-right: 10px;
}

div{
    padding-top: 20px;
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.inputDiv{
    margin-top: -40px;
}

.request-themes{
    margin-top: -50px;
}