<div class="tabGap">
  <h3 class="fs-title">Buy Product</h3>
  <h2 class="fs-subtitle">Enter details to get subtotal and add a sale</h2>
  <form [formGroup]="postSell">
    <div class="inputDiv">
      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Product ID</mat-label>
        <input matInput type="number" formControlName="productID" placeholder="Product ID" required />
        <mat-error *ngIf="validateField('productID').invalid">{{ getErrorMessage("productID") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" formControlName="quantity" placeholder="Quantity" required />
        <mat-error *ngIf="validateField('quantity').invalid">{{ getErrorMessage("quantity") }}</mat-error>
      </mat-form-field>

      <div class="checkBox">
        <label for="discountApplied">Container Returned</label>
        <mat-checkbox formControlName="containerReturned"></mat-checkbox>
      </div>

      <mat-form-field class="txtBox" appearance="standard" *ngIf="enableSubtotalBox">
        <mat-label>Subtotal</mat-label>
        <input matInput type="number" formControlName="totalCost" placeholder="Subtotal" readonly />
        <span matPrefix>£ &nbsp;</span>
        <mat-error *ngIf="validateField('totalCost').invalid">{{ getErrorMessage("totalCost") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="txtBox" appearance="standard" *ngIf="enablePayBox">
        <mat-label>Pay</mat-label>
        <input matInput type="number" formControlName="payed" placeholder="Pay" required />
        <span matPrefix>£ &nbsp;</span>
        <mat-error *ngIf="validateField('payed').touched">{{ getErrorMessage("payed") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="txtBox" appearance="standard" *ngIf="enableChangeBox">
        <mat-label>Change</mat-label>
        <input matInput type="number" formControlName="change" placeholder="Change" readonly />
        <span matPrefix>£ &nbsp;</span>
      </mat-form-field>
      <br />
    </div>

    <div class="request-themes">
      <button mat-raised-button color="accent" (click)="getSubtotal()"><mat-icon class="buttonIcon">system_update_alt</mat-icon>Subtotal</button>

      <span class="buttonSpace"></span>

      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="disablePurchaseButton">
        <mat-icon class="buttonIcon">add</mat-icon>Add Sell
      </button>
    </div>
  </form>
</div>
