
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

.spacer {
    flex: 1 1 auto;
}

.buttonSpace{
    margin-right: 5px;
}

.RightButtons {
    width: 80px;
}

/* .menuIcons {
    display: inline-block;
    padding-left: 6px;
} */