.mat-elevated-m8 {
  text-align: center;
  margin-left: 10px;
  height: auto;
  width: 200px;
  /* border-color: red; */
  /* border-style: dotted; */
}

.active {
  background: #607d8b69;
}

h2 {
  margin-bottom: -5px;
}

button {
  width: 107px;
  margin-bottom: 10px;
}

/* Tooltip text */
button .tooltiptext {
  visibility: hidden;
  width: 100px;
  height: 30px;
  background-color: rgba(85, 85, 85, 0.945);
  color: #fff;
  text-align: center;
  font-size: 11px;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  padding-bottom: 10px;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -50px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when your mouse is over the tooltip container */
button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

mat-divider {
  margin: 10px 10px;
}

.divider {
  margin-bottom: 10px;
}

@media (max-width: 785px) {
  .mat-elevated-m8 {
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    height: auto;
    width: 200px;
  }
}
