<div class="mat-elevated-m8">
  <h4>Edit Inventory Items</h4>
  <button mat-raised-button color="warn" routerLink="Product" routerLinkActive="true" [routerLinkActiveOptions]="{ exact: true }">
    Products
  </button>
  <br />
  <button mat-raised-button color="warn" routerLink="Orders" routerLinkActive="true" [routerLinkActiveOptions]="{ exact: true }">
    Orders
  </button>

  <br />
  <button mat-raised-button color="warn" routerLink="Sell" routerLinkActive="true" [routerLinkActiveOptions]="{ exact: true }">
    Checkout
  </button>

  <mat-divider></mat-divider>

  <h4>Graphs</h4>
  <mat-form-field>
    <mat-label>Choose an option</mat-label>
    <mat-select disabled>
      <mat-option value="profit">Profit</mat-option>
      <mat-option value="productStock">Sales</mat-option>
      <mat-divider></mat-divider>
      <mat-option value="option3">Product Stock History</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="warn" matTooltip="Info about the action" class="tooltip" matTooltip="Coming Soon" [matTooltipPosition]="position.value" matTooltipHideDelay="100" disabled>
    Show Graph
    <span class="tooltiptext">Coming Soon</span>
  </button>
  <mat-divider></mat-divider>

  <div class="request-themes">
    <button mat-raised-button color="primary" (click)="APIStatus()">API Status</button>
    <button mat-raised-button color="warn" (click)="resetDatabase()">Reset API</button>
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent" routerLink="/Home">Log Out</button>
  </div>
</div>
