<div class="tabGap">
  <h3 class="fs-title">Edit Product</h3>
  <h3 class="fs-subtitle">Enter ID and detail to change product information</h3>
  <form [formGroup]="editProduct" (ngSubmit)="onSubmit()">
    <div class="inputDiv">
      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Product ID</mat-label>
        <input matInput type="number" formControlName="productID" placeholder="Product ID" required />
        <mat-error *ngIf="validateField('productID').invalid">{{ getErrorMessage("productID") }}</mat-error>
      </mat-form-field>

      <div class="checkBox">
        <label for="returnable">Returnable</label>
        <mat-checkbox formControlName="returnable"></mat-checkbox>
      </div>

      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Sell Price</mat-label>
        <input matInput type="number" formControlName="sellPrice" placeholder="Sell Price" step="0.01" min="0.01" max="20" />
        <mat-error *ngIf="validateField('sellPrice').invalid">{{ getErrorMessage("sellPrice") }}</mat-error>
        <span matPrefix>£&nbsp;</span>
      </mat-form-field>

      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Discount</mat-label>
        <input matInput type="number" formControlName="discount" placeholder="Discount" min="1" />
        <mat-error *ngIf="validateField('discount').invalid">{{ getErrorMessage("discount") }}</mat-error>
      </mat-form-field>
      <br /><br /><br />
    </div>

    <div class="request-themes">
      <button mat-raised-button color="accent"><mat-icon class="buttonIcon">create</mat-icon> Edit Product</button>
    </div>
  </form>
</div>
