<mat-nav-list>
    <a mat-list-item routerLink="/LogIn" (click)="onClose()">
      <!-- <mat-icon>input</mat-icon> -->
      <span class="menuIcons">Log In</span>
    </a>
    <a mat-list-item routerLink="/SignUp" (click)="onClose()">
      <!-- <mat-icon></mat-icon> -->
      <span class="menuIcons">Sign Up</span>
    </a>

    <mat-list-item>
      <button mat-icon-button routerLink="/Home" (click)="onClose()">
        <!-- <mat-icon>eject</mat-icon> -->
        <span class="menuIcons">Log Out</span>
      </button>
    </mat-list-item>

  </mat-nav-list>