<div class="tabGap">
  <h3 class="fs-title">Delete Sell</h3>
  <h2 class="fs-subtitle">Enter ID to delete a sale</h2>
  <form [formGroup]="deleteSell" (ngSubmit)="onSubmit()">
    <div class="inputDiv">
      <mat-form-field class="txtBox" appearance="standard">
        <mat-label>Sell ID</mat-label>
        <input matInput type="number" id="sellID" formControlName="sellID" placeholder="Sell ID" required />
        <mat-error *ngIf="validateField('sellID').invalid">{{ getErrorMessage("sellID") }}</mat-error>
      </mat-form-field>
      <br />
    </div>

    <div class="request-themes">
      <button mat-raised-button color="warn"><mat-icon class="buttonIcon">delete</mat-icon>Delete Sell</button>
    </div>
  </form>
</div>
