<form #form class="example-form" method="DELETE"> <!--action="/crud/product/delete"-->
  <h2 class="fs-title">Delete Product</h2>
  <h3 class="fs-subtitle">Enter product details</h3>
  <mat-form-field class="example-full-width">
    <mat-label>Brand</mat-label>
    <input matInput placeholder="Ex. Damm">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Flavour</mat-label>
    <input matInput placeholder="Flavour">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Type</mat-label>
    <input matInput placeholder="Type">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Stock</mat-label>
    <input matInput placeholder="Stock">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Input disabled</mat-label>
    <input matInput [matDatepicker]="dp3" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>
  <br>
  <button mat-raised-button type="submit" color="primary" class="submitBtn" (click)="form.submit(); openSnackBar()">Delete Product</button>
</form>