<div class="mat-elevation-z19" id="compDiv">
  <br />
  <h1>Sell List Table</h1>

  <div class="searchField">
    <mat-icon matBadgeColor="warn" class="searchIcon">search</mat-icon>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Damm" />
    </mat-form-field>
  </div>

  <table mat-table class="mat-elevation-z20" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="sellID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sell ID</th>
      <td mat-cell *matCellDef="let sell">{{ sell.sellID }}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let sell">{{ sell.quantity }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Cost</th>
      <td mat-cell *matCellDef="let sell">{{ sell.totalCost | currency: "GBP":"symbol":"1.2-2" }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ getTotalCost() | currency: "GBP":"symbol":"1.2-2" }}</td>
    </ng-container>

    <ng-container matColumnDef="containerReturned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Container Returned</th>
      <td mat-cell *matCellDef="let sell">{{ sell.containerReturned }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="paid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid</th>
      <td mat-cell *matCellDef="let sell">{{ sell.paid | currency: "GBP":"symbol":"1.2-2" }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="sellDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sell Date</th>
      <td mat-cell *matCellDef="let sell">{{ sell.sellDate | date: "dd/MM/yyyy" }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="productID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product ID</th>
      <td mat-cell *matCellDef="let sell">{{ sell.product.productID }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayColumns"></tr>
  </table>
  <mat-paginator class="mat-elevation-z20" [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>
