<mat-sidenav-container>
  <!-- class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" -->

  <mat-sidenav #sideNav role="navigation">
    <!--[mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" -->
    <!-- <mat-sidenav-container class="sideNavContainer" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"></mat-sidenav-container> -->
    <app-side-nav-list (closeSNav)="sideNav.close()"></app-side-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (toggle)="sideNav.toggle()"></app-header>

    <main>
      <section>
        <mat-progress-bar color="warn" mode="indeterminate" *ngIf="progBarService.progressBarLoading$ | async"></mat-progress-bar>
      </section>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
