<mat-sidenav-container>
  <mat-sidenav #sideNav role="navigation">
    <app-side-nav-list (closeSNav)="sideNav.close()"></app-side-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (toggle)="sideNav.toggle()"></app-header>

    <main>
      <section>
        <mat-progress-bar color="warn" mode="indeterminate" *ngIf="progBarService.progressBarLoading$ | async"></mat-progress-bar>
      </section>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
