div{
    text-align: left;
    text-align: center;
}

.mainPage{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.postForm{
    height: 550px;
}