<mat-toolbar color="primary" class="mat-elevation-z5">
  <div>
    <button mat-icon-button class="menuButton" (click)="onToggle()" disabled>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="mat-typography">
    <a routerLink="/Home" class="mat-h2">BB Inventory</a>
    <span class="buttonSpace"></span>
    <button mat-flat-button class="leftButtons" color="primary" routerLink="Products" routerLinkActive="active">Products List</button>
    <!-- <button mat-flat-button class="leftButtons" color="primary" routerLink="About" disabled>About</button> -->
  </div>

  <span class="spacer"></span>

  <div class="toolBar-themes">
    <button class="RightButtons" mat-raised-button color="primary" routerLink="/LogIn">Log In</button>
    <!-- <span class="buttonSpace"></span> -->
    <!-- <button class="RightButtons" mat-raised-button color="primary" routerLink="/SignUp">Sign Up</button> -->
  </div>
</mat-toolbar>
