<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>
    <a routerLink="/Home">BB Inventory</a>
    <span class="buttonSpace"></span>
    <button mat-flat-button color="primary" routerLink="Product-Stock">Current Stock</button>
  </div>

  <span class="spacer"></span>

  <div class="toolBar-themes">
    <button class="RightButtons" mat-raised-button color="primary" routerLink="/LogIn">Log In</button> <span class="buttonSpace"></span>
    <button class="RightButtons" mat-raised-button color="primary" routerLink="/SignUp">Sign Up</button>
  </div>
</mat-toolbar>
