#menu {
  width: auto;
  float: left;
  margin-top: 50px;
  margin-left: 10px;
}

#content {
  margin-top: 90px;
}

@media only screen and (max-width: 768px) {
  #menu {
    margin-top: 0px;
    margin-left: 80px;
  }

  #content {
    margin-left: -10px;
  }

  #tabs-div {
    margin-top: 20px;
    padding-left: 0px;
  }

  #tables-div {
    margin-top: 30px;
  }
}
