<div id="esteDiv">
    <app-dashboard-menu id="menu"></app-dashboard-menu>
</div>


<div id="tabs-div" class="mat-elevation-z20">
    <app-product-tabs></app-product-tabs>
</div>

<div id="tables-div">
    <app-product-table></app-product-table>
</div>

<!-- <br>
<div>
    <app-order-table></app-order-table>
</div> -->

<!-- <br>
<div class="mat-elevation-z20">
    <app-order-tabs></app-order-tabs>
</div> -->

<!-- <br>
<div>
    <app-sell-table></app-sell-table>
</div> -->

<!-- <br>
<div class="mat-elevation-z20">
    <app-sell-tabs></app-sell-tabs>
</div>
<br> -->