<div >
    <mat-tab-group class="postForm" mat-align-tabs="center" animationDuration="0ms">
        
        <mat-tab label="Add">
            <br>
            <br>
            <app-product-add class="addForm"></app-product-add>
        </mat-tab>

        <mat-tab label="Edit">
            <br>
            <br>
            <app-product-edit class="editForm"></app-product-edit>
        </mat-tab>
        
        <mat-tab label="Delete">
            <br>
            <br>
            <app-product-delete class="deleteForm"></app-product-delete>
        </mat-tab>

    </mat-tab-group>
</div>