.mat-elevation-z8{
  height: 650px;
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  padding-left: 10%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

.full-width-table {
  width: 80%;
  margin: 20px auto;
}

.paginator{
  width: 80%;
  margin: 20px auto;
}