.example-form{
	margin-top: 20px;
}

.example-full-width{
    width: 260px;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: rgb(180, 172, 172);
	margin-bottom: 20px;
}